* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.book {
    display: flex;
    padding: 50px 10%;
}
.book-img {
    width: 300px;
    height: 450px;
}
.book-desc {
    padding-left: 40px;
}
.book-desc__title {
    font-size: 42px;
    margin-bottom: 5px;
}
.book-desc__author {
    margin-bottom: 25px;
}

.book-desc__text {
    font-weight: 500;
    margin-bottom: 35px;
}
.book-desc__price {
    margin-bottom: 45px;
    font-size: 42px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    border: solid 2px rgb(255, 102, 0);
    border-radius: 5px;
    cursor: pointer;
}

.buy {
    color: white;
    width: 128px;
    background-color: rgb(255, 102, 0);
}

.inf {
    color: rgb(255, 102, 0);
    width: 200px;
    background-color: white;
}

.delivery {
    background-color: rgb(235, 235, 235);
    width: 100vw;
}
.delivery__title {
    margin-top: 30px;
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
}
.delivery__cards {
    display: flex;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 120px;
    align-items: center;
    text-align: center;
}   
.card__ico {
    width: 60px;
    height: 50px;
}
.buyers {
    align-items: center;
}
.buyers__title {
    margin-top: 85px;
    margin-bottom: 60px;
    font-size: 30px;
    text-align: center;
}
.buyer {
    height: 260px;
    width: 260px;
    padding: 50px;
}
.buyers__row1 {
    align-items: center;
}
/*.buyers__row1 {
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 260px;
}*/
